@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    background: linear-gradient(to right, #6B00FF, #380086, #0F0024);
    scroll-behavior: smooth;
}
p {
    font-family: Rethink Sans;
    color: white;
}
/* ======================================Background*/
.background {
    display: flex;
    position: absolute;
    z-index: 0;
    background-image: url("assets/Fundo.png");
    opacity: 30%;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 110%;
    top: 271px;
    overflow: visible;
}


/* ======================================Superior*/
header {
    display: flex;
    position:sticky;
    justify-content: space-around;
    align-items: center;
    width: 1861px;
    height: 158px;
    background: linear-gradient(to right, #6B00FF, #380086);
    border-radius: 174px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 35px;
}

header a {
    display: flex;
    align-items: center;
    font-family: Rethink Sans;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.title {
    font-family: Rethink Sans;
    text-align: center;
    color: white;
    font-size: 90px;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 50px;
}

header > a img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.logo {
    width: 140px;
    height: 140px;
}
/*========================================Meio*/
.general {
    display: flex;
    flex-direction:column;
    gap: 30px;
    align-items: center;
    width: 100%;
}




.caixa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1348px;
    height: 766px;
    background: linear-gradient(
    to right,
    rgba(107, 0, 255, 0.8),
    rgba(56, 0, 134, 0.8)
);
    z-index: 1;
    border-radius: 179px;
}


.caixa > .conteudo {
    display: flex;
    justify-content: space-evenly;
    height: 471px;
    width: 100%;
}

.videocell {
    display: flex;
    flex-direction: column;
    width: 351px;
    gap: 109px;
}

.videocell > .insidevideocell {
    display: flex;
    flex-direction: column;
}
.videocontainer {
    width: 351px;
    height: 197px;
    overflow: hidden;
    border-radius: 20px;
}

.videocontainer iframe {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videotext {
    font-family: Rethink Sans;
    font-size: 15px;
    color: white;
    font-weight: 400;
    z-index: 2;
    text-align: center;
    background: linear-gradient(to right,
        rgba(107, 0, 255, 0.68),
        rgba(56, 0, 134, 0.68)
    );
    border-radius: 39px;
}


/*========================================Fim*/
footer {
    background: linear-gradient(to right, #5D00DE, #310076);
    z-index: 0;
    width: 100%;
    height: 409px;
    margin-top: 171px;
}

footer > .informacoes {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 652px;
}


.informacoes > .guixlogo {
    width: 91px;
    height: 91px;
    overflow: visible;
}
.guixlogo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.informacoes > a {
    font-family: Rethink Sans;
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.informacoes > .iconsarea {
    display: flex;
    height: 36px;
    gap: 15px;
    overflow: visible;
}

.iconsarea > .icons img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer > .direitos {
    font-family: Rethink Sans;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-top: 52px;
    font-weight: 400;
}

.direitos > img {
    width: 17px;
    height: 17px;
}

footer > .anchor {
    display: flex;
    position: absolute;
    width: 96px;
    height: 96px;
    background-color: rgba(94, 0, 226, 0.36);
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    left: 2000px;
    top: 1550px;
}
.anchor img {
    display: block;
    width: 36.5px;
    height: 52px;
    object-fit: cover;
}