@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    background: linear-gradient(to right, #6B00FF, #380086, #0F0024);
    scroll-behavior: smooth;
}
p {
    font-family: Rethink Sans;
    color: white;
}
/* ======================================Background*/
.background {
    display: flex;
    position: absolute;
    z-index: 0;
    background-image: url("assets/Fundo.png");
    opacity: 30%;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 110%;
    top: 271px;
    overflow: visible;
}


/* ======================================Superior*/
header {
    display: flex;
    position:sticky;
    justify-content: space-around;
    align-items: center;
    width: 1861px;
    height: 158px;
    background: linear-gradient(to right, #6B00FF, #380086);
    border-radius: 174px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 35px;
}

header a {
    display: flex;
    align-items: center;
    font-family: Rethink Sans;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.title {
    font-family: Rethink Sans;
    text-align: center;
    color: white;
    font-size: 90px;
    font-weight: 800;
    z-index: 1;
}

header > a img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

/*========================================Meio*/
.general {
    display: flex;
    flex-direction:column;
    gap: 30px;
    align-items: center;
    width: 100%;
}


.icon-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.caixa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1348px;
    height: 766px;
    background: linear-gradient(
    to right,
    rgba(107, 0, 255, 0.8),
    rgba(56, 0, 134, 0.8)
);
    z-index: 1;
    border-radius: 179px;
        padding-top: 87px;
}

.caixa > h2 {
    margin-top: 44px;
    font-size: 60px;
    font-family: Rethink Sans;
    color: white;
    font-weight: 800;
    margin-bottom: 39px;
    opacity: 100%;

}

.caixa > .conteudo {
    display: flex;
    justify-content: space-evenly;
    height: 471px;
    width: 100%;


}

.conteudo > .thumbspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.conteudo > .description {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.description > .datatime {
    font-family: Rethink Sans;
    font-weight: 400;
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 12px;
}
.thumbspace > p {
    font-family: Rethink Sans;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 13px;
}

.description > p {
    font-family: Rethink Sans;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 13px;
    width: 332px;
    text-align: left;
}
.thumbspace > .videocontainer {
    width: 785px;
    height: 441px;
    overflow: hidden;
    border-radius: 20px;
}
.videocontainer iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description > button {
    display: flex;
    justify-content: center;
    border-radius: 39px;
    background-color: #6A00FF;
    font-family: Rethink Sans;
    font-weight: 800;
    align-items: center;
    font-size: 40px;
    color: white;
    min-width: 250px;
    min-height: 72px;
    border-color: #6A00FF;
}
.fotos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



}

.foto{

    width: 438px;
    height: 558px;


}

.textos{
    display: flex;
    text-align: left;
    margin-left: 126px;

    flex-direction: column;
    width: 597px;
    height: 663px;
    font-size: 30px;
    line-height: 120%;
}

.t2{


    margin-top: 77px;
}

.t3{

    margin-top: 77px;
}

.email{

    text-decoration: underline;
    color: white;
}

/*========================================Fim*/
footer {
    background: linear-gradient(to right, #5D00DE, #310076);
    z-index: 0;
    width: 100%;
    height: 409px;
    margin-top: 171px;
}

footer > .informacoes {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 652px;
}


.informacoes > .guixlogo {
    width: 91px;
    height: 91px;
    overflow: visible;
}
.guixlogo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.informacoes > a {
    font-family: Rethink Sans;
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.informacoes > .iconsarea {
    display: flex;
    height: 36px;
    gap: 15px;
    overflow: visible;
}

.iconsarea > .icons img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer > .direitos {
    font-family: Rethink Sans;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-top: 52px;
    font-weight: 400;
}

.direitos > img {
    width: 17px;
    height: 17px;
}

footer > .anchor {
    display: flex;
    position: absolute;
    width: 96px;
    height: 96px;
    background-color: rgba(94, 0, 226, 0.36);
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    left: 2000px;
    top: 1450px;
}
.anchor img {
    display: block;
    width: 36.5px;
    height: 52px;
    object-fit: cover;
}

