@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    background: linear-gradient(to right, #6B00FF, #380086, #0F0024)
}
p {
    font-family: Rethink Sans;
    color: white;
}
/* ======================================Background*/
.background {
    display: flex;
    position: absolute;
    z-index: 0;
    background-image: url("assets/Fundo.png");
    background-size: 950%;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 30%;
}


/* ======================================Superior*/
header {
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    width: 1861px;
    height: 158px;
    background: linear-gradient(to right, #6B00FF, #380086);
    border-radius: 174px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 35px;
}

.title {
    font-family: Vina sans;
    text-align: center;
    color: white;
    font-size: 200px;
    letter-spacing: 10px;
    z-index: 1;
}

/*========================================Meio*/
.general {
    display: flex;
    flex-direction:column;
    gap: 30px;
    align-items: center;
    width: 100%;
    
}

.redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right, #6B00FF, #380086);
    width: 397px;
    height: 98px;
    border-radius: 39px;
    opacity: 80%;
}

.redes > .icon-container {
    min-width: 48px;
    height: 48px;
    overflow:hidden;
}

.icon-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caixa {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1348px;
    height: 798px;
    background: linear-gradient(to right, #6B00FF, #380086);
    z-index: 1;
    border-radius: 179px;
}

.caixa > h2 {
    margin-top: 44px;
    font-size: 60px;
    font-family: Rethink Sans;
    color: white;
    font-weight: 800;
    margin-bottom: 39px;
}

.caixa > .conteudo {
    display: flex;
    justify-content: space-evenly;
    height: 471px;
    width: 100%;
}

.conteudo > .thumbspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.conteudo > .description {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.description > .datatime {
    font-family: Rethink Sans;
    font-weight: 400;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 12px;
}
.thumbspace > p {
    font-family: Rethink Sans;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 13px;
}

.description > p {
    font-family: Rethink Sans;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 13px;
    width: 332px;
    text-align: left;
}
.thumbspace > .videocontainer {
    width: 785px;
    height: 441px;
    overflow: hidden;
    border-radius: 20px;
}
.videocontainer iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description > button {
    display: flex;
    justify-content: center;
    border-radius: 39px;
    background-color: #6A00FF;
    font-family: Rethink Sans;
    font-weight: 800;
    align-items: center;
    font-size: 40px;
    color: white;
    width: 250px;
    min-height: 72px;
    border-color: #6A00FF;
    margin-left: 30px;
}
/*========================================Fim*/
footer {
    
    width: 100%;
    height: 409;
    background-color: #6B00FF;
}

.title2{
    font-family: Rethink Sans;
    color: white;
    text-align: center;
    font-size: 90px;
    font-weight: 800;
}

.conteudo{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(to right, #6B00FF, #380086);
    z-index: 1;
    border-radius: 179px;
    opacity: ;
}

.video_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-left: 97px;
    padding-right: 97px;
    padding-top: 132px;
    padding-bottom: 131px;
    width: 90%;
}

.video_container iframe{
    width: 351px;
    height: 197px;
    border-radius: 20px;
}

.video_item > p{
    text-align: center;
    width: 350px;
    height: 19px;
    background: linear-gradient(to right, #6B00FF, #380086);
    border-radius: 39px;
    margin-top: 13px;
    opacity: 68%;




}

