@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: black;
}

.title {
    font-family: Vina sans;
    text-align: center;
    color: white;
    font-size: 200px;
    letter-spacing: 10px;
}
p {
    font-family: Rethink Sans;
}

.general {
    display: flex;
    flex-direction:column;
    gap: 30px;
    align-items: center;
    height: 100%;
    
}

.redes {
    background-color: #6B00FF;
    width: 397px;
    height: 88px;
    border-radius: 39px;
    opacity: 80%;
    margin-top: 53px ;

}

.box-container {
    margin-top: 53px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6B00FF;
    width: 900px;
    height: 798px;
    border-radius: 179px;
}
.box-title {
    font-size: 60px;
    text-transform: capitalize;
    color: white;
    font-family: Rethink Sans;
    margin-top: 37px;
}
.align-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
footer {
    width: 100%;
    height: 409;
    background-color: #6B00FF;
}
.video {
    width: 581px;
    height: 39px;
}