@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vina+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: black;
}

h1 {
    top: 100px;
    font-family: Vina sans;
    text-align: center;
    color: white;
    font-size: 300px;
    letter-spacing: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

p {
    font-family: Rethink Sans;


}

.comeco {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    height: 1000px;


}

.redes {
    background-color: #6B00FF;
    width: 397px;
    height: 88px;
    border-radius: 39px;
    opacity: 80%;
    margin-top: 63px ;

}

.ultimo {
    display: flex;
    background-color: #6B00FF;
    width: 1348px;
    height: 798px;
    border-radius: 179px;
    margin-top: 117px;
}

footer {
    width: 100%;
    height: 409;
    background-color: #6B00FF;
}